$color: #7461ec;

.btn-curve{
    outline: none;
    padding: .7rem 2rem;
    font-size: 1em;
    color: #fff;
    display: block;
    border: none;
    border-radius: 50px;
    margin: 1.5em auto 0;
    background: $color;
    cursor: pointer;
    &:hover{
        background-color: darken($color, 5%);
    }
}